* { /*  border: 1px solid rgba(22,77,100,0.8);*/ padding: 0; margin: 0; }

a:link { color: rgb(58,120,237); text-decoration:none; }
a:hover { text-decoration: underline; }
a:visited { color: rgb(58,120,237); text-decoration: none; }

#banner {}
#bannerText { font-family: 'Signika', sans-serif; font-weight: 300; font-size: 20px; }
#bannerTitle { font-size: 50px; font-weight: 700; }

body { background-color: white; padding:0 5pc 0 5pc; }

div { margin: auto; min-width: 800px; max-width: 1200px; }

div.blogBody { width: 100%; }
div.blogEntry { }
div.blogHeader { font-weight: 400; font-size: 20px; width: 100%; }

div.navigation {}

h1, h2, h3, h4, h5 { font-family: 'Playfair Display', serif; margin: 0; }

img{ width: 20pc; margin: 1em; }
.imgRigth { float: right; }
.imgLeft { float: left; }

li { display: inline; font-family: 'Playfair Display'; font-weight: 400; margin: 1em;}

p { font-family: 'Signika'; font-weight: 300; font-size: 18px; letter-spacing: -0.02em; line-height: 1.7em; margin: 0.8em; word-spacing: 0.2em; }

section {}

ul { margin: 1em;}